.transaction_history {
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: rgba(51, 173, 238, 0.61);
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td:first-child {
  text-transform: capitalize;
}
